.section_header_title {

    position: relative;
    width: 90%;
    margin: 0 auto;
    h1{
    color: #1b1e2f;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0 0 15px;
    font-size: 2.1em;
    line-height: 1.2;
    cursor: default;
    margin-top: 3rem;
    margin-bottom: 3rem;

    }
}

.empty_cart{
    font-size: 16px;
    line-height: 1.7;
    font-family: Montserrat,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1b1e2f;
    width: 90%;
    margin: 0 auto;
}

.cart_rows{
    position: relative;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.5rem;
    cursor: default;

    @media (max-width:950px){
        display: none;
        
        }
    .cart_rows_names{
        span{
            color: #1b1e2f;
            
            font-size: 18px;
            font-weight: 700;
            font-family: Montserrat, sans-serif;
            font-weight: 700;
            font-style: normal;
            margin: 0 0 15px;
            
            margin-left: 6rem;

        }
    }

}


.cart_row{

    position: relative;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .cart_row_content{
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
            padding-bottom: 1rem;
            
            border-top: 2px solid #ddd;
            border-bottom: 2px solid #ddd; 

            @media (max-width:950px){
                flex-direction: column;
                
                }
            img{
                @media (max-width:400px){
                    width: 160px !important;
                    
                }
            }
            .cart_row_content_price_input{
            height: fit-content;
            display: flex;

            @media (max-width:950px){
                justify-content: space-between;
                align-items: center;
                margin-top: 1rem;
                
                }
            }
            .cart_rows_names_responsive{
                display: none;
                @media (max-width:950px){
                    display: flex;
                    margin-top: 1rem!important;
                    justify-content: space-between;
                    span{
                        color: #1b1e2f;
                        
                        font-size: 18px;
                        font-weight: 700;
                        font-family: Montserrat, sans-serif;
                        font-weight: 700;
                        font-style: normal;
                       
                        
                       
            
                    }
                    
                    }
            }
        .cart_row_content_image_info{
            display: flex;
            .remove_span{
                font-family: Montserrat,sans-serif;
                font-weight: 400;
                font-style: normal;
                color: #68a5c1;
                cursor: pointer;
                &:hover {
                    opacity: 0.7;
                }   
            }

            h3{
                margin-bottom: 0;
                font-family: Montserrat,sans-serif;
                font-weight: 700;
                font-style: normal;
                color: #68a5c1;
                width: fit-content;
                &:hover {
                    opacity: 0.7;
                }
                @media (max-width:400px){
                    font-size: 15px;
                    
                }
            }

            h4{
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
                font-family: Montserrat,sans-serif;
                font-weight: 400;
                font-style: normal;
                color: #1b1e2f;
                cursor: default;
                @media (max-width:400px){
                    font-size: 13px;
                    
                }
            }

            span{
                font-family: Montserrat,sans-serif;
                font-weight: 400;
                font-style: normal;
                color: #68a5c1;
                @media (max-width:400px){
                    font-size: 14px;
                    
                }
            }
        }

        .cart_row_content_price_input{
            span{
                font-family: Montserrat,sans-serif;
                font-weight: 700;
                font-style: normal;
                color: #1b1e2f;
                font-size: 16px;
                margin-left: 6rem;
                cursor: default; 
                @media (max-width:950px){
                    margin-left: 0!important;
                    
                    }   
            }

            input {
                width:40px;
                border: 1px solid rgba(27,30,47,.15);
                padding: 6px 8px;
                line-height: 1.42;
                margin-left: 7.1rem;
                @media (max-width:950px){
                    margin-left: 0!important;
                    
                    } 
            }
        }

    }
    .cart_row_content_second{
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
            padding-bottom: 1rem;
            
            
            border-bottom: 2px solid #ddd; 
            @media (max-width:950px){
                flex-direction: column;
                
                }
                .cart_row_content_price_input{
                    height: fit-content;
                    display: flex;
        
                    @media (max-width:950px){
                        justify-content: space-between;
                        align-items: center;
                        margin-top: 1rem;
                        
                        }
                    }
                    .cart_rows_names_responsive{
                        display: none;
                        @media (max-width:950px){
                            display: flex;
                            margin-top: 1rem!important;
                            justify-content: space-between;
                            span{
                                color: #1b1e2f;
                                
                                font-size: 18px;
                                font-weight: 700;
                                font-family: Montserrat, sans-serif;
                                font-weight: 700;
                                font-style: normal;
                               
                                
                               
                    
                            }
                            
                            }
                    }

        .cart_row_content_image_info{
            display: flex;
            .remove_span{
                font-family: Montserrat,sans-serif;
                font-weight: 400;
                font-style: normal;
                color: #68a5c1;
                cursor: pointer;
                &:hover {
                    opacity: 0.7;
                }   
            }
            
            

            h3{
                margin-bottom: 0;
                font-family: Montserrat,sans-serif;
                font-weight: 700;
                font-style: normal;
                color: #68a5c1;
                width: fit-content;
                &:hover {
                    opacity: 0.7;
                }
            }

            h4{
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
                font-family: Montserrat,sans-serif;
                font-weight: 400;
                font-style: normal;
                color: #1b1e2f;
                
            }

            span{
                font-family: Montserrat,sans-serif;
                font-weight: 400;
                font-style: normal;
                color: #68a5c1;
            }

           
        }

        .cart_row_content_price_input{
            height: fit-content;
            display: flex;
            

            @media (max-width:950px){
                justify-content: space-between;
                align-items: center;
                margin-top: 2rem;
                
                }
            span{
                font-family: Montserrat,sans-serif;
                font-weight: 700;
                font-style: normal;
                color: #1b1e2f;
                font-size: 16px;
                margin-left: 6rem;
                @media (max-width:950px){
                    margin-left: 0!important;
                    
                    }      
            }

            input {
                width:40px;
                border: 1px solid rgba(27,30,47,.15);
                padding: 6px 8px;
                line-height: 1.42;
                margin-left: 7.1rem;
                @media (max-width:950px){
                    margin-left: 0!important;
                    
                    }  
            }
        }

    }

    

}
.empty_cart_div{
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 23rem;
.continue_shopping_empty{
    display: inline-block;
    padding: 8px 16px;
    margin: 0;
    font-size: .875em;
    font-family: Montserrat,sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: .1em;
    text-transform: uppercase;
    line-height: 1.8;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid transparent;
    position: relative;
    background-color: transparent;
    color: #68a5c1!important;
    border-color: #68a5c1;
    white-space: normal;
    text-decoration: none!important;

    a{
        text-decoration: none!important;
        color: #68a5c1!important;
    }

    &:hover{
        opacity: 0.6;
    }  
}}

.cart_checkout_total{

    position: relative;
    width: 90%;
    margin: 0 auto;
    text-align: end;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 7rem;

    p{
        margin: 0.3rem;
        color: red;
        font-family: Montserrat,sans-serif;
    }

    .total{
        font-size: 20px;
        line-height: 1.7;
        font-family: Montserrat,sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #1b1e2f;
        cursor: default;
    }

    .total_price{
        font-family: Montserrat,sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #1b1e2f;
        font-size: 16px;
        margin-left: 1rem;
        cursor: default;
    }

    .buttons_shopping{
        margin-top: 1rem;
        margin-bottom: 5rem;

        @media (max-width:850px){
            display: flex;
            flex-direction: column;
             align-items: end;
            
            } 
             

        .checkout{
            display: inline-block;
            padding: 8px 16px;
            margin: 0;
            font-size: .875em;
            font-family: Montserrat,sans-serif;
            font-weight: 500;
            font-style: normal;
            letter-spacing: .1em;
            text-transform: uppercase;
            line-height: 1.8;
            text-decoration: none;
            text-align: center;
            vertical-align: middle;
            min-height: 44px;
            white-space: nowrap;
            cursor: pointer;
            border: 1px solid transparent;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            border-radius: 2px;
            background-color: #68a5c1;
            color: #fff;
            width: 200px;
            margin-left: 1rem;

            @media (max-width:500px){
                font-size: 12px;
                padding: 5px 8px;
                width: 150px;
            }
            @media (max-width:400px){
                font-size: 12px;
                width: 120px;
            }
            
            &:hover{
                opacity: 0.6;
            }
        }

        .continue_shopping{
            display: inline-block;
        padding: 8px 16px;
        margin: 0;
        font-size: .875em;
        font-family: Montserrat,sans-serif;
        font-weight: 500;
        font-style: normal;
        letter-spacing: .1em;
        text-transform: uppercase;
        line-height: 1.8;
        text-decoration: none;
        text-align: center;
        vertical-align: middle;
        
        white-space: nowrap;
        cursor: pointer;
        border: 1px solid transparent;
        position: relative;
        background-color: transparent;
        color: #68a5c1!important;
        border-color: #68a5c1;
        white-space: normal;
        text-decoration: none!important;
        width: max-content;

        @media (max-width:500px){
            font-size: 12px;
            padding: 5px 10px;
        }

        a{
            text-decoration: none!important;
            color: #68a5c1!important;

            @media (max-width:500px){
                font-size: 12px;
                
            } 

            @media (max-width:400px){
                font-size: 10px;
                
            }
        }
        @media (max-width:850px){
            margin-bottom: 1rem;
            
            } 
            

        &:hover{
            opacity: 0.6;
        }
        }
    }
}