.shop-menu-display{
    display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
.Shop-Menu{
    position: relative;
    z-index: 3;
    margin-top: 10rem;

    ul{
        list-style: none;
        display: flex;
        width: 87%;
        justify-content: space-evenly;
        margin: 0 auto;
        border-top: 2px solid #dddddd;
        border-bottom: 2px solid #dddddd;
        padding-top: 10px;
        padding-bottom: 10px;
        @media (max-width:450px){
            text-align: center;
            
            }

        .first-row-item{

            @media (max-width:450px){
                grid-column: span 2;
                border-style: solid;
                border-right: 0;
                border-left: 0;
                border-width: 2px;
                border-top: 0;
                padding-bottom: 0.8rem;
                border-color: #dddddd;
                
                }
            
        }

        .second-row-item{
            @media (max-width:450px){
                margin-top: 0.4rem;
                grid-column: span 3;
                
                }
        }

        @media (max-width:750px){
            padding-left: 0;
            
            }

            @media (max-width:450px){
                display: grid!important;
                grid-template-columns: repeat(6, 1fr); ;
                
                }

        li{
            cursor: pointer;
            color: #1b1e2f;
            font-family: "Montserrat", sans-serif;
            font-size: 14px;
            transition: all 0.5s ease;
            font-weight: 500;

            @media (max-width:750px){
                font-size: 13px!important;
                
                }

                @media (max-width:360px){
                    font-size: 12px!important;
                    
                    }

            &:hover{
                color:#68a5c1!important;
                transition: all 0.5s ease;
            }
        }
    }
}

.Carousel-Wrapper{
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    .Carousel{
        --loader-bar-color:#282828;
    }
}

.popular{
    color: #1b1e2f;
    font-size: 1.625em;
    line-height: 1.3;
    font-family: Montserrat,sans-serif;
    width: 90%;
    margin: 0 auto;
    margin-top: 4rem;
    border-top: 1.5px solid #dddddd;
    border-bottom: 1.5px solid #dddddd;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}}