.DarkRoast-section{
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;

    .DarkRoast-header-name{
        color: #1b1e2f;
        font-family: Montserrat,sans-serif;
        font-weight: 700;
        font-style: normal;
        margin: 0 0 15px;
        font-size: 35px;   
    }

    .DarkRoast-div{
    display: flex;
    align-items: center;

    .info-tag{
        font-family: Montserrat,sans-serif;
        font-weight: 500;
        color: #1b1e2f;
        margin: 0;
        
    }

    .DarkRoast-Tag{
        font-family: Montserrat,sans-serif;
        font-weight: 500;
        color: #1b1e2f;
        margin: 0;
        margin-left: 0.7rem;
    }

    .arrow-right{
        width: 15px;
        height: 15px;
        position: relative;
        margin-left: 0.7rem;   
    }
}

header{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;

    label{
        margin-top: 0.5rem;
        font-size: 18px;
    line-height: 1.7;
    font-family: Montserrat,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1b1e2f;
    margin-bottom: 0.2rem;
    }

    select{
        background-color: #fff;
        text-indent: 0.01px;
        cursor: pointer;
        border: 1px solid rgba(27,30,47,.15);
        width: 250px;
        max-width: 100%;
        display: block;
        margin: 0 0 1em;
        color: #333;
        padding: 8px 10px;
        line-height: 1.42;
        font-family: Montserrat,sans-serif;
        font-size: 16px;
        display: inline-flex;
        margin-left: 1rem;
    }

}
p{
    font-size: 16px;
    line-height: 1.7;
    font-family: Montserrat,sans-serif;
    font-weight: 400; 
}
}