.Card{
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    margin-bottom: 4rem;
    @media (max-width:525px){
        margin-bottom: 1rem; 
        
        }
    img{
        transition: all .3s ease .25s;

        @media (max-width:650px){
            width: 220px!important;
            
            }

            @media (max-width:525px){
                width: 105%!important;
                right: 1.5rem;
                position: relative; 
                
                }
    }
    
    &:hover{
        
        cursor: pointer;
        img{
            transition: all .3s ease .25s;
            opacity: 0.75;
        }
    }

    .Product-info{
        left: 1.3rem;
        position: relative;

        @media (max-width:525px){
            position: relative;
            text-align: center;
            left: 0 !important;
            
            }
        

    h4{
        color: #1b1e2f;
        font-family: Montserrat,sans-serif;
        font-size: .9em;
        line-height: 1.4;
        font-weight: 700;
        margin-bottom: 0;
        @media (max-width:525px){
            font-size: 18px; 
            
            }
    }

    p{
    font-family: Montserrat,sans-serif;
    font-size: 0.95em;
    line-height: 1.5;
    color: #2e334f;
    margin-top: 0.5rem;
    @media (max-width:525px){
        font-size: 16px!important; 
        
        }
    }
}

}
