.Product-section{
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
.Product-div{
    display: flex;
    align-items: center;

    .Product-info-tag{
        font-family: Montserrat,sans-serif;
        font-weight: 500;
        color: #1b1e2f;
        margin: 0;

    
        
    }

    .Product-Tag{
        font-family: Montserrat,sans-serif;
        font-weight: 500;
        color: #1b1e2f;
        margin: 0;
        margin-left: 0.7rem;
    }

    .arrow-right{
        width: 15px;
        height: 15px;
        position: relative;
        margin-left: 0.7rem;   
    }
}
.Product-image-info{
    margin-top: 4rem;
    margin-left: 8rem;
    display: flex;
    margin-bottom: 4rem;
    .button-divs{
        width: fit-content;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    top: 0.3rem;
    position: relative;
    }
    p{
        margin-top: 2rem;
        font-size: 16px;
        line-height: 1.7;
        font-family: Montserrat,sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #1b1e2f;
        width: 500px;
    }

    h3{
        font-family: Montserrat,sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #1b1e2f;
        font-size: 22px;
        margin: 0.1rem 0;
    }

    h1{
        font-family: Montserrat,sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #1b1e2f;
        font-size: 30px;
        margin: 0;
    }

    .price{
        color: #68a5c1;
        font-size: 23px;
        font-weight: 700;
        position: relative;
        top: 1rem;
    
    }

    label{
        margin-top: 0.5rem;
        font-size: 18px;
    line-height: 1.7;
    font-family: Montserrat,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1b1e2f;
    margin-bottom: 0.2rem;
    
    }
    .coffe-quantity{
        margin-top: 0;
        font-size: 18px;
    line-height: 1.7;
    font-family: Montserrat,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1b1e2f;
    margin-bottom: 0.2rem;
    display: block;
    
    }

    select{
        background-color: #fff;
        text-indent: 0.01px;
        cursor: pointer;
        border: 1px solid rgba(27,30,47,.15);
        width: 250px;
        max-width: 100%;
        display: block;
        margin: 0 0 1em;
        color: #333;
        padding: 8px 10px;
        line-height: 1.42;
        font-family: Montserrat,sans-serif;
        font-size: 16px;
        
        
    }

    input {
        font-family: Montserrat,sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1em;
        padding: 8px 10px;
        line-height: 1.42;
        border: 1px solid rgba(27,30,47,.15);
        width: 100px;
    }

    .add-to-cart-button{
        display: inline-block;
        padding: 8px 16px;
        margin: 0;
        font-size: .875em;
        font-family: Montserrat,sans-serif;
        font-weight: 500;
        font-style: normal;
        letter-spacing: .1em;
        text-transform: uppercase;
        line-height: 1.8;
        text-decoration: none;
        text-align: center;
        vertical-align: middle;
        
        white-space: nowrap;
        cursor: pointer;
        border: 1px solid transparent;
        position: relative;
        margin-top: 1.5rem;
        background-color: transparent;
        color: #68a5c1;
        border-color: #68a5c1;
        white-space: normal;
       

        &:hover{
            opacity: 0.6;
        }
    
    }

    
        .Buy-it-Now-button{
            display: inline-block;
            padding: 8px 16px;
            margin: 0;
            font-size: .875em;
            font-family: Montserrat,sans-serif;
            font-weight: 500;
            font-style: normal;
            letter-spacing: .1em;
            text-transform: uppercase;
            line-height: 1.8;
            text-decoration: none;
            text-align: center;
            vertical-align: middle;
            min-height: 44px;
            white-space: nowrap;
            cursor: pointer;
            border: 1px solid transparent;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            border-radius: 2px;
            background-color: #68a5c1;
            color: #fff;
            width: 200px;
            margin-top: 2.65rem;

            &:hover{
                opacity: 0.7;
            }
        }
    
    .Coffe-Image-Product{
        width: 600px;
    }

    .Add-to-cart{
        color: #68a5c1;
        font-size: 15px;
        position: relative;
    
    }
}

    .Product-recommendation{
        width: 90%;
        margin: 0 auto;
        position: relative;
        margin-top: 1rem;
        
        .recommendation-tag{
            font-family: Montserrat,sans-serif;
        font-weight: 700;
        font-style: normal;
        margin: 0 0 15px;
        font-size: 18px;
        }

        .CardList-recommended{
                grid-template-columns: 1fr 1fr 1fr 1fr;
                display: grid;
                width: 90%;
                margin: 0 auto;
                margin-top: 3rem;
                text-align: center;
                margin-bottom: 0rem;
                .popular{
                    color: #1b1e2f;
                    font-size: 1.625em;
                    line-height: 1.3;
                    font-family: Montserrat,sans-serif;
                    font-weight: 700;
                }
            
        }

    }


}

