.Title-Section{
   position: relative;
   width: fit-content;
   margin: 0 auto;

   svg{
    width: 600px;
    height: fit-content;
    g{
        fill: white;
    }
   }

   .Title-Slogan{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: white;
    letter-spacing: 8px;
    font-size: 35px;
    margin-top: 25rem;
   }

   .text-divider-div{
    width: fit-content;
    margin: 0 auto; 
   }

   .title-p-div {
    width: fit-content;
    margin: 0 auto;
    color: white;
    font-weight: 800;
    letter-spacing:4px;
    font-size: 20px;
   }
}